<%= simple_form_for @ingredient, :html => { :class => 'form-vertical' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Ingredient</legend>

    <%= f.input :name %>

    <%= f.association :category, :include_blank => "Miscellaneous" %>

    <%= f.association :grocery_category, :include_blank => "Miscellaneous" %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', ingredients_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
