<%= form_for @ingredient, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Ingredient</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ingredient_category_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :ingredient_category_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :grocery_category_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :grocery_category_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', ingredient_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
