<h1>Ingredients</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.id %></td>
        <td><%= link_to ingredient.name, ingredient_path(ingredient) %></td>
        <td><%= ingredient.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_ingredient_path(ingredient), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', ingredient_path(ingredient), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_ingredient_path, :class => 'btn btn-primary' %>
